<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>my weblog</title>

	<!-- $Id$ -->

	</head>
<body>
<!-- ###DOCUMENT_BODY### begin -->
<div id="rap">
	<div id="header">
		<ul id="topnav">
			<li>&nbsp;</li>
		</ul>
		<h1><a href="###BLOG_HOME###">###BLOG_TITLE###</a></h1>
		<div id="desc">###BLOG_TAGLINE###</div>
	</div>
	<div id="main">
		<div id="content">
			###POSTS_LIST###
			<p align="center"></p>		
		</div>
		<div id="sidebar">
			<h2>###CONN_PAGES###</h2>
			###PAGENAV###
			
			<h2>###CONN_CATEGORIES###</h2>
			###CATEGORIES###
			
			<h2>###CONN_ARCHIVE###</h2>	
			###ARCHIVES###
			
			<h2>###CONN_LINKS###</h2>
			###BLOG_BLOGROLL###		
			
			<h2>###CONN_META###</h2>
			<ul>
				<li><a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional">Valid <abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a></li>
				<li><a href="http://jigsaw.w3.org/css-validator/check/referer" title="valid css">Valid CSS</a></li>
				<li><a href="http://gmpg.org/xfn/"><abbr title="XHTML Friends Network">XFN</abbr></a></li>
				<li><a href="http://www.typo3.com" title="Powered by TYPO3">TYPO3</a></li>
				<li><a href="http://www.ingo-renner.com/?id=11" title="timtab: Blogging with TYPO3">timtab</a></li>
			</ul>
		</div>		
		<p id="footer">Design Downloaded from <a href="http://www.vanillamist.com" title="Vanilla Mist">www.vanillamist.com</a></p>
	</div>
</div>
<!-- ###DOCUMENT_BODY### end -->		
</body>
</html>