<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>my weblog</title>

	<!-- $Id$ -->

	</head>
<body>
<!-- ###DOCUMENT_BODY### begin -->
<div id="rap">
	<div id="header">
		<ul id="topnav">
			<li>&nbsp;</li>
		</ul>
		<h1><a href="###BLOG_HOME###">###BLOG_TITLE###</a></h1>
		<div id="desc">###BLOG_TAGLINE###</div>
	</div>
	<div id="main">
		<div id="content">
		
			###POST_SINGLE###
				
			###BLOG_CONTENT_NORMAL###
			
			<p align="center"></p>		
		</div>
		<div id="sidebar">
			###POST_SINGLE_META###
		</div>		
		<p id="footer">Design Downloaded from <a href="http://www.vanillamist.com" title="Vanilla Mist">www.vanillamist.com</a></p>
	</div>
</div>
<!-- ###DOCUMENT_BODY### end -->		
</body>
</html>