
<!-- ###TEMPLATE_SINGLE### begin
	This subpart is used to display single posts
-->
<h2>###CONN_ARCHIVED###</h2>
<ul>
<li><strong>###CONN_DATE###</strong></li>
<li>###NEWS_DATE###</li>
<li><strong>###CONN_CATEGORY###</strong></li>
<li>###NEWS_CATEGORY###</li>

<li><strong>###CONN_DO_MORE###</strong></li>
<li>###CONN_MORE###</li>
</ul>
<!-- ###TEMPLATE_SINGLE### end -->